<div class="container-fluid contds payments">
    <div class="row rowl justify-content-center paymentStyle">
        <div class="cols col-12 col-md-12">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        <h1 align="center">Métodos de Pago</h1>
                    </div>
                    <div class="col-12 text-center">
                        <h4 align="justify">Contamos con +70 métodos de pago locales para que realices tus transacciones. 
                            Aquí te dejamos algunos ejemplos:</h4>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-4 col-md-3 text-center mb-3">
                        <img src="media/airtm.png" class="img-fluid" alt="Airtm">
                    </div>
                    <div class="col-4 col-md-3 text-center mb-3">
                        <img src="media/bancolombia.png" class="img-fluid" alt="Bancolombia">
                    </div>
                    <div class="col-4 col-md-3 text-center mb-3">
                        <img src="media/binance.png" class="img-fluid" alt="Binance">
                    </div>
                    <div class="col-4 col-md-3 text-center mb-3">
                        <img src="media/mercado-pago.png" class="img-fluid" alt="Mercado Pago">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-4 col-md-3 text-center mb-3">
                        <img src="media/paypal.png" class="img-fluid" alt="PayPal">
                    </div>
                    <div class="col-4 col-md-3 text-center mb-3">
                        <img src="media/wally.png" class="img-fluid" alt="Wally">
                    </div>
                    <div class="col-4 col-md-3 text-center mb-3">
                        <img src="media/zinli.png" class="img-fluid" alt="Zinli">
                    </div>
                    <div class="col-4 col-md-3 text-center mb-3">
                        <img src="media/zelle.png" class="img-fluid" alt="Zelle">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>