<div class="container-fluid contds hero-page">
    <div class="row rowl">
        <div class="cols col-12 col-md-10">
            <div class="textInfo">
                <span>
                    <h1 align="center">
                        La SuperApp de Stablecoins para Latinoamérica
                    </h1>
                    <h4 align="center">
                        Compra y vende USDT usando Nequi, Pix, MercadPago, Yape, PayPal y más. 
                        Publica tus propios anuncios P2P y empieza a ganar dinero por internet.
                    </h4>
                    <div class="text-center">
                        <a href="https://play.google.com/store/apps/details?id=io.eldorado.app">
                            <img src="media/android.png" width="200" alt="Google Play">
                        </a>
                        <a href="https://apps.apple.com/co/app/el-dorado-p2p/id1591303547">
                            <img src="media/iOS.png" width="200" alt="App Store">
                        </a>
                    </div>
                </span>
            </div>
        </div>
    </div>
</div>